@import "less/bootstrap";
@import "less/theme";
@import "app-mixins";

body {
//  color: white;
  #gradient > .vertical(@start-color: #004d73; @end-color: #001b37);
//  background-color: #131313;
}

input[type = "text"] {
  color: black;
}

.content {
  width: 100%;
  height: 100%;
  min-height: 900px;
  padding:20px;

}

.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: #ccc;
  cursor: pointer;
}

.feature.active {
  fill: orange;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* INDEED SEARCH BOX  */
.indeed {
    font-family: arial;
    color: #000;

    &-form {
//      padding-bottom: 10px;
    }

    &-title {
        color:#F60;
      margin:0;
    }

    &-input {
//        color: #000;
    }

    &-description {
//      font-size:10px;
      color:@gray-light;
//        color:#fff;
    }

    &-trends {
      margin-top:20px;
//      padding-bottom:10px;
    }

    & .row {
      margin-bottom:10px;
    }
}

#indeed_at {
//    padding-top:20px;
//    color: white;
    text-decoration: none;
    /*& a {
        color: white;
    }*/
}

.popover-wrapper {
  max-width: 400px;



  .d3-tip {
    font-size: 12px;
    stroke: none;
    color: #fff;
    background-color: #333;
    padding:1px 20px 10px 20px;
    .app-border-radius(6px, 6px, 6px, 6px)
  }

  .arrow-bottom {
    position: relative;
    left: 47%;
    width: 0;
    height: 0;
    border-top: 10px solid #333;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }


}

circle {
  fill: #ccc;
  fill-opacity: 0.6;
  stroke: #bbb;
  stroke-width: 1px;
}

circle:hover {
  fill: #bbb;
  stroke: #999;
}

circle.clickable:hover {
  cursor: pointer;
}

.rule {
  stroke-width: 1px;
  stroke: #c00;
  shape-rendering: crispedges;
}

.test {
    color:pink;
}

//#15211f
//.generate-color-steps(49, 0, #ffb100);
.generate-color-steps(24, 0, #d6b96f);
//.generate-color-steps(49, 26, #8f1b08);

.map-container {
  padding:0;
  height:650px;
  margin-bottom: 20px;
  border: 1px solid @well-border;
  border-radius: @border-radius-large;
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }



}

.map-controls {
  position: relative;
  top: -652px;
  width: 109px;
  height: 117px;
  background-color: #001b37;
  padding: 5px;
//  border: 1px solid @well-border;
  border: 1px solid #001b37;
  border-radius: @border-radius-large;

  & .map-reset {
    width:72px;
  }
}

.result {

  &-section{
    position:relative;
    border-bottom:1px solid @gray-light;
    padding-bottom: 20px;
    margin-bottom:20px;

    &-last {
      border-bottom:0 solid white;
    }
    
    & .indeed-trends {
      max-width: 440px;

      &-graph {
        max-height: 200px;
      }
    }
  }

  &-title {
    color:@gray;
//    margin-bottom: 10px;

    span {
      font-size: 8px;
    }

    & .logo {
      float:left;
      margin-right: 5px;
      width: 38px;
      height: 38px;
    }

    & .title-text {
      position: relative;
      top: -8px;
    }

    & .gdp-min {

    }
  }

  &-gdp-state-legend {
    #gradient > .horizontal(@start-color:#d0a65b, @end-color:#2b210c);
    height: 30px;
    border-radius: @border-radius-large;
  }

}