<div class="row">
    <div class="col-md-9" >
        <div class="map-container">
            <job-market-map></job-market-map>
        </div>
    </div>
    <div class="col-md-3" >
        <div class="well">
           <div ng-controller="JobMarketResultsController">
               <div class="row">
                   <div class="col-md-12">
                       <div class="result-section">
                           <indeed-jobs></indeed-jobs>
                       </div>
                   </div>
               </div>
              <div class="row">
                  <div class="col-md-3">
                      <img class="logo" ng-src="app/img/bea/logo-cropped.png" />
                  </div>
                  <div class="col-md-9">
                      <h4 class="result-title"><div class="title-text"><span>U.S. Department of Commerce</span></br>Bureau of Economic Analysis</div></h4>
                  </div>
              </div>

               <div class="row">
                   <div class="col-md-12">
                       <h5>GDP by state:</h5>
                       <div class="result-gdp-state-legend"></div>
                       <div>
                           <p class="pull-left">{{stateGdpMin}}</p>
                           <p class="pull-right">{{stateGdpMax}}</p>
                       </div>
                   </div>
               </div>



           </div>
        </div>

    </div>
</div>





