<us-map></us-map>
<div class="row">
    <div class="col-md-1">
        <div ng-controller="mapControlsController" class="map-controls">
            <button type="button" class="btn btn-default" ng-click="reset()" ><span class="glyphicon glyphicon-zoom-out map-reset"></span></button><br />


            <div ng-controller="IndeedModalSearchCtrl">
                <script type="text/ng-template" id="IndeedSearchModalContent.html">
                    <div class="modal-header">
                        <div id=indeed_at>Find
                            <a href="http://www.indeed.com/?indpubnum=4600389599611799">jobs</a> by
                            <a href="http://www.indeed.com/?indpubnum=4600389599611799" title="Job Search">
                                <img src="http://www.indeed.com/p/jobsearch.gif" style="border: 0; vertical-align: middle" alt="job search">
                            </a>
                        </div>
                    </div>
                    <div class="modal-body">
                        <indeed-jobs ></indeed-jobs>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                        <button class="btn btn-primary" ng-click="ok()">Find Jobs</button>
                    </div>
                </script>

                <button type="button" class="btn btn-default" ng-click="open()"><span class="glyphicon glyphicon-plus"></span> <img src="http://www.indeed.com/p/jobsearch.gif" style="border: 0; vertical-align: middle" alt="job search"></button>

            </div>
            <button type="button" class="btn btn-default" ng-click="hideIndeedIcons()"><span class="glyphicon glyphicon-minus"></span> <img src="http://www.indeed.com/p/jobsearch.gif" style="border: 0; vertical-align: middle" alt="job search"></button>
            <!--<button type="button" class="btn btn-default"></button><br />-->
            <!--<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button><br />-->
            <!--<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-minus"></span></button><br />-->
            <br />
            </span><br />
        </div>
    </div>
</div>



