
<div class="question-body-wrapper text-dark">
    <div class="row">
        <div class="col-md-12">
            <h5>{{currentQuestionObj.question}}</h5>
        </div>
    </div>
    <div class="row answers">
        <div class="col-md-11 col-md-offset-1">
            <div class="answer" ng-repeat="option in currentQuestionObj.answers" >
                <input  name="quizAnswer" ng-model="currentQuestionObj.user.answer.answer" type="radio" ng-value="option.answer" ng-click="selectedAnswer(option)">
                <span ng-if="scorecard.mode == 'timed'">{{option.answer}}</span>
                <span ng-if="scorecard.mode == 'review'" ><a href="" ng-click="open(option)">{{option.answer}}</a></span>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-4">
            <button ng-if="!currentQuestionObj.isFirstQuestion && scorecard.mode == 'review'" class="btn btn-primary pull-left" ng-click="previousQuestion(true)" ><span class="glyphicon glyphicon-backward"></span>&nbsp;&nbsp;Previous</button>
        </div>
        <div class="col-md-4">
            <div ng-if="answer && scorecard.mode == 'review'">
                <span ng-show="answer.correct">Correct!</span>
                <span ng-show="!answer.correct">Wrong!</span>
            </div>

        </div>
        <div class="col-md-4">
            <button ng-if="!currentQuestionObj.isLastQuestion" class="btn btn-primary pull-right" ng-click="nextQuestion(true)">Next&nbsp;&nbsp;<span class="glyphicon glyphicon-forward"></span></button>
            <a ng-if="currentQuestionObj.isLastQuestion" ui-sref="quiz.result"><button class="btn btn-primary pull-right">Get Results</button> </a>
        </div>
    </div>
</div>



