<div class="row">
    <div class="col-md-12">
        <div class="well question-controls">
            <div class="row">
                <div class="col-md-4">Question <strong>{{scorecard.currentQuestionNum + 1}}</strong> of <strong>{{scorecard.maxQuestions}}</strong>
                </div>
                <div ng-if="scorecard.mode == 'timed'" class="col-md-8 col-divider">
                    <timer interval="1000" countdown="30">
                        <div class="question-time">Time: {{seconds}}</div>
                        <div class="question-progress progress progress-striped active">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="45"
                                 aria-valuemin="0" aria-valuemax="100" style="width: {{(seconds / 30) * 100}}%">
                            </div>
                        </div>
                    </timer>
                </div>
            </div>
        </div>
    </div>
</div>

