<div class="ftd-ui-toggleswitch" ng-click="toggleBtn()">
    <div class="background-image">
        <img class="pull-right" ng-src="{{onImage}}" ng-show="toggle"/>
        <img class="pull-left" ng-src="{{offImage}}" ng-show="!toggle"/>
    </div>
    <div class="clearfix">
        <button type="button" class="{{btnClass}}" ng-class="{disabled:disabled}">
            <span ng-if="btnGlyph" class="{{btnLabel}}"></span>
            <span ng-if="!btnGlyph">{{btnLabel}}</span>
        </button>
    </div>
</div>