<div class="indeed">
    <div ng-controller="IndeedModalSearchCtrl">
        <script type="text/ng-template" id="IndeedSearchModalContent.html">
            <div class="modal-header">
                <div id=indeed_at>Find
                    <a href="http://www.indeed.com/?indpubnum=4600389599611799">jobs</a> by
                    <a href="http://www.indeed.com/?indpubnum=4600389599611799" title="Job Search">
                        <img src="http://www.indeed.com/p/jobsearch.gif" style="border: 0; vertical-align: middle"
                             alt="job search">
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <div class="indeed-form">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 id=indeed_at>Find
                                <a href="http://www.indeed.com/?indpubnum=4600389599611799">jobs</a> by
                                <a href="http://www.indeed.com/?indpubnum=4600389599611799" title="Job Search">
                                    <img src="http://www.indeed.com/p/jobsearch.gif" style="border: 0; vertical-align: middle"
                                         alt="job search">
                                </a>
                            </h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" class="indeed-input form-control" name='q' value='' size='15' placeholder="what"
                                   ng-model="indeed.what">
                        </div>
                        <div class="col-md-4">
                            <h5 class="indeed-title">what</h5>
                            <small class="indeed-description">job title, keywords</small>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" class="indeed-input form-control" name='l' value='' size='15' placeholder="where"
                                   ng-model="indeed.where">
                        </div>

                        <div class="col-md-4">
                            <h5 class="indeed-title">where</h5>
                            <small class="indeed-description">city, state, zip</small>

                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                <button class="btn btn-primary" ng-click="findJobsModal()">Find Jobs</button>
            </div>
        </script>
    </div>

    <div class="indeed-form">
        <div class="row">
            <div class="col-md-12">
                <h4 id=indeed_at>Find
                    <a href="http://www.indeed.com/?indpubnum=4600389599611799">jobs</a> by
                    <a href="http://www.indeed.com/?indpubnum=4600389599611799" title="Job Search">
                        <img src="http://www.indeed.com/p/jobsearch.gif" style="border: 0; vertical-align: middle"
                             alt="job search">
                    </a>
                </h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <input type="text" class="indeed-input form-control" name='q' value='' size='15' placeholder="what"
                       ng-model="indeed.what">
            </div>
            <div class="col-md-4">
                <h5 class="indeed-title">what</h5>
                <small class="indeed-description">job title, keywords</small>

            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <input type="text" class="indeed-input form-control" name='l' value='' size='15' placeholder="where"
                       ng-model="indeed.where">
            </div>

            <div class="col-md-4">
                <h5 class="indeed-title">where</h5>
                <small class="indeed-description">city, state, zip</small>

            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button class="btn btn-primary btn-sm" ng-click="findJobs()">Find Jobs</button>
            </div>
            <!--<div class="col-md-3">-->
                <!--<button type="button" class="btn btn-primary btn-sm" ng-click="open()">Advanded Search</button>-->
            <!--</div>-->

        </div>
    </div>


    <!-- indeed results -->
    <div class="indeed-trends" ng-if="query.length > 0">
        <div id=indeed_at>
            <h4 class="result-title indeed-title"><a href="http://www.indeed.com/?indpubnum=4600389599611799">Trends</a>
                for
                <a href="http://www.indeed.com/?indpubnum=4600389599611799" title="Job Search">
                    {{query}}
                </a>:
            </h4>

        </div>
        <!--Searching for <span class="indeed-title">{{query}}</span> <span ng-if="location">in <span class="indeed-title">{{location}}</span></span>-->
        <div>
            <div class="indeed-trends">
                <a href="http://www.indeed.com/jobtrends?q={{query}}" title="{{query}} Job Trends">
                    <img class="indeed-trends-graph" src="http://www.indeed.com/trendgraph/jobgraph.png?q={{query}}"
                         border="0" alt="angular Job Trends graph">
                </a>

                <div class="indeed-trends-graph" cellpadding="6" cellspacing="0" border="0" style="font-size:80%">
                    <p><a href="http://www.indeed.com/jobtrends?q={{query}}">{{query}} Job Trends</a></br>
                        <a href="http://www.indeed.com/jobs?q={{query}}">{{query}} jobs</a>
                    </p>

                </div>
            </div>
        </div>


    </div>
</div>


